@import 'tailwindcss';
@import "tw-animate-css";

@source '../views';
@source '../../vendor/laravel/framework/src/Illuminate/Pagination/resources/views/*.blade.php';

@theme {
    --font-sans: "Montserrat", ui-sans-serif, system-ui, sans-serif;
}



@utility shadow-s {
    box-shadow:
        inset 0 1px 2px #ffffff30,
        0 1px 2px #00000030,
        0 2px 4px #00000015;
}

@utility shadow-m {
    box-shadow:
        inset 0 1px 2px #ffffff50,
        0 1px 2px #00000030,
        0 4px 8px #00000015;
}

@utility shadow-l {
    box-shadow:
        inset 0 1px 2px #ffffff70,
        0 1px 2px #00000030,
        0 6px 10px #00000015;
}

@utility shadow-inset {
    box-shadow:
        inset 0 2px 2px #00000030,
        inset 0 -2px 4px #ffffff;
}

@utility shadow-inset-m {
    box-shadow:
        inset 0 2px 4px #00000030,
        inset 0 -2px 4px #ffffff30;
}


@utility shadow-inset-l {
    box-shadow:
        inset 0 6px 10px #00000030,
        inset 0 -6px 10px #ffffff30;
}